@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #39cdcc;
$heading-color: #213f7d;
$active-text-color: #213f7d;
$text-color: #545f7d;
$grey-bg: #f5f8fa;
$font-family: "Montserrat", sans-serif;
$page-font-family: "Work Sans", sans-serif;
