@import "/src/styles/variables";

.sidebar {
  min-width: 270px;
  width: 20vw;
  background: white;
  padding: 2rem 0rem 8rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: $page-font-family;
  height: 100vh;
  z-index: 30;
  overflow-y: auto;
  color: $text-color;


  nav {
    .section {
      margin-bottom: 2rem;

      .title {
        font-size: 0.85rem;
        color: $text-color;
        margin-top: 1.4rem;
        margin-bottom: 0.7rem;
        font-weight: 600;
        margin-left: 1.5rem;
        text-transform: uppercase;
      }

      ul:first-child {
        display: flex;
        flex-direction: column;
        row-gap: 1.7rem;
        margin: 0.3rem 0 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          padding: 0.8rem 1.45rem;
          color: rgba($active-text-color, 0.65) !important;
          cursor: pointer;
          transition: background 0.2s;

          svg {
            opacity: 0.65;
          }

          &.active {
            background: rgba($primary-color, 0.06) !important;
            border-left: $primary-color;
            border-left-width: 3px;
            border-left-style: solid;
            color: darken($active-text-color, 10%) !important;
            opacity: 1 !important;
            svg {
              opacity: 1;
            }
          }

          &:hover {
            background: #f9f9f9;
          }

          svg {
            font-size: 1.1rem;
          }
        }

        .switch {
          color: darken($active-text-color, 10%) !important;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 5rem;
    min-width: fit-content;
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }
  .hide {
    display: none !important;
  }
}
