@import "/src/styles/variables.scss";

.user-details {
  padding: 1rem;
  //   max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: fit-content;

  &__header {
    background: white;
    &--tabs {
      margin: 0.5rem 1.3rem 0;
    }
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--buttons {
      display: flex;
      gap: 1rem;
    }
    @media (max-width: 640px) {
        &--title {
          flex-direction: column;
          row-gap: 0.5rem;
        }
    }
  }

  &__content {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

    .section {
      border-bottom: 1px solid rgba($active-text-color, 0.1);
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
