@import "/src/styles/variables";

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-family: $font-family;

  label {
    color: $text-color;
    margin-bottom: 4px;
    font-size: 14px;
    opacity: 75%;
  }

  input {
    padding: 10px;
    color: $text-color;
    border: 2px solid rgba($text-color, 0.15);
    border-radius: 4px;
    font-family: $font-family;

    &::placeholder {
      opacity: 0.75;
    }

    &:active,
    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
}
